@page "/counter"

<!--===== Ukazka projektu =====-->
<h1>Scientific calculator</h1>

<!--===== HTML Calculator =====-->

   <div class="container">

            <div class="display">
                <input @bind="Result" id="screendisplay" type="text" placeholder="0">
            </div>

            <div class="buttons">

                <div class="simply">

                    <div class="row">
                        <button class="btnspace">⌫</button>
                        <button id="ce"class="btnclear">CE</button>
                        <button class="btnclear" >C</button>
                        <button class="btnplusminus">±</button>
                    </div>
                    <div class="row">
                        <button class="value" @onclick="@(e => Number("7"))">7</button>
                        <button class="value" @onclick="@(e => Number("8"))">8</button>
                        <button class="value" @onclick="@(e => Number("9"))">9</button>
                        <button class="operator">÷</button>                      
                    </div>
                     <div class="row">
                        <button class="value" @onclick="@(e => Number("4"))">4</button>
                        <button class="value" @onclick="@(e => Number("5"))">5</button>
                        <button class="value" @onclick="@(e => Number("6"))">6</button>
                        <button class="operator"> × </button>
                    </div>
                    <div class="row">
                        <button class="value" @onclick="@(e => Number("1"))">1</button>
                        <button class="value" @onclick="@(e => Number("2"))">2</button>
                        <button class="value" @onclick="@(e => Number("3"))">3</button>
                        <button class="operator">-</button>
                    </div>
                    <div class="row">
                        <button class="value" @onclick="@(e => Number("0"))">0</button>
                        <button class="value" @onclick="@(e => Number("."))">.</button>
                        <button id="eval" class="btnresult">=</button>
                        <button class="operator">+</button>
                    </div>
                </div>   
                <div class="scientic">
                    <div class="row">
                        <button class="btnlog">log</button>
                        <button class="btnx2">x^2</button>
                    </div>
                    <div class="row">
                        <button class="btncos">cos</button>
                        <button class="btnx3">x^3</button>
                    </div>
                    <div class="row">
                        <button class="btnsinn">sin</button>
                        <button class="btnlnx">ln</button>
                    </div> 
                     <div class="row">
                        <button class="btntan">tan</button>
                        <button class="btn1x">1/x</button>
                    </div>   
                    <div class="row">
                         <button class="btnpi">π</button>
                         <button class="btnpercentage">%</button>
                    </div>
                    
                </div>
            </div>
   </div>


@code {

    /*Inicializace Result Display*/

     public string Result { get; set; }

        private double _secondnumber;
        private double _firstnumber;
        private string _operand;

    // vypsani cisla na display

     public void Number(string n)
     {
        Result += n;
     }




}
